<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.XG.appX3"
        version   = "1.0.0">

    <name>appX3</name>

    <description>
        Entorn proves.
    </description>

    <author href="http://paugargallo.cat" email="xaviergonzalez2009@gmail.com">
        Xavier González
    </author>
	

  
  
</widget>